if SHIELD_KUKULOCO_LEFT

config ZMK_KEYBOARD_NAME
    default "KukuLoco"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KUKULOCO_LEFT || SHIELD_KUKULOCO_RIGHT

config ZMK_SPLIT
    default y

endif